
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  overflow-x: hidden; 
  background: #131313;
}
a{
  text-transform: none;
  text-decoration: none;
}
*{
  box-sizing: border-box;
}
#root {
}
img {
  width: 100%;
}
.conteinerHeader {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 268px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.conteinerLogo a  {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 77px;
  color: #FFFFFF;
  text-shadow: 0px 0px 20px #FFFFFF;
}
.navigation li {
  margin: 20px 0;
  
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  
}
.navigation li a {
  color: #FFFFFF;
  font-family: 'Playfair Display';
}
.mainPageConteiner {
  background-image: url('/images/image17.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100vh;
}
.mainPageSubTitle {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  line-height: 76px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding-left: 317px;
}
.mainPageTitle {
  position: absolute;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 190px;
  line-height: 0px;
  letter-spacing: 0.4em;
  color: #FFEEF8;
  right: 2%;
  text-shadow: 0px 0px 20px #FFFFFF;
  bottom: 24%;
}
.contSlyder {
  /* background: #FFFFFF; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.slyderWrapper  {
  width: calc(100% - 268px);
  position: relative;
}
.slyde {
  position: relative;
  background: #FFFFFF;
}
.slydeTitle {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 68px;
  color: #131313;
}
.textConteiner {
  padding: 40px 45px 0 40px;
  max-width: 40%;
  width: 100%;
  min-height: 477px;
  background: #FFFFFF;
}

.slydeSubTitle {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  padding-top: 70px;
  width: 85%;
}
.secondFoto {
  height: 830px;
}
.firstFoto {
  position: absolute;
  max-width: 60%;
  height: 745px;
  top: 0;
  right: 0;
}

.slyderWrapper .slick-initialized .slick-dots {
  width: 25%;
  bottom: 26px;
}
.slyderWrapper .slick-initialized .slick-dots li button {
  border-radius: 50%;
  color: white;
} 
.slyderWrapper .slick-initialized .slick-dots li button:before {
  color: #FFFFFF;
  opacity: 1;
  font-size: 11px;
}
.slyderWrapper .slick-initialized .slick-dots li.slick-active button:before {
  color: transparent !important;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  width: 17px;
  height: 17px;
  margin-top: -3px;
}
.secondFoto img {
  height: 100%;
}
.conteinerOurprojects {
  
  display: flex;
}
.projectCont {
  position: relative;
  max-width: 413.23px;
  height: 675px;
  cursor: pointer;
}
.projectCont:hover .contPlus {
 opacity: 1;
}
.projectCont:hover h4 {
  opacity: 0;
 }
.projectCont img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.contPlus {
  transition: all ease 1s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 118px;
  height: 117px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  cursor: pointer;
}
.contPlus img {
  width: 50%;
  height: 50%;
  position: static;
}
.SlydeTitle {
  margin-left: 38px;
  padding-top: 34px;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  position: relative;
  width: 70%;
  line-height: 40px;
  color: #FFFFFF;
  transition: all ease 0.5s;
}
.projectTitle {
  display: flex;
  justify-content: center;  
  padding: 60px 0;
}
.projectTitle h3 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 51px;
  color: #FFFFFF;
  margin: 0 auto;
}
.projectSlyder .slick-slider .slick-prev {
  left: 10px;
  z-index: 100;
}
.projectSlyder .slick-slider .slick-next {
  right: 10px;
  z-index: 100;
}
.contOusProject {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.contOusProject::before {
  content: 'Проекты';
  position: absolute;
  top: 96px;
  right: 6%;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 102px;
  color: rgba(255, 255, 255, 0.05);
}
.conteinerClients {
  width: calc(100% - 268px);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  

}
.conteinerClients::after {
  content: '20';
  position: absolute;
  right: -149px;
  top: 40%;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 450px;
  line-height: 432px;
}
.conteinerClients::before {
  content: 'Клиенты';
  position: absolute;
  top: 41%;
  bottom: 50%;
  left: 0;
  transform: translate(-50%, -50%, 0);
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: bold;
  font-size: 110px;
  line-height: 154px;
  z-index: -1;

color: rgba(255, 255, 255, 0.05);
}
.conteinerClients h3 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 51px;
  color: #FFFFFF;
  padding-top: 80px;
  margin-left: -15%;
}
.contYear {
  max-width: 467px;
  height: 376px;
  margin-left: -30%;
  margin-top: 70px;
}
.logoCont {
  max-width: 768px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
  margin-left: -15%;
}
.logoCont > div{
  width: 33%;
  padding-top: 120px;
  
}
.logoCont > div img {
  max-width: 100%;
  width: auto;
  cursor: pointer;
}
.PageContact {
  display: flex;
  justify-content: flex-end;
}
.contactsTitle {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  color: #FFFFFF;
}
.contContacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
.conteinerContactInfo {
  padding-left: 5%;
}
.contactSubTitle {
  padding-top: 49px;
  max-width: 452px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}
.titleForm {
  padding-top: 47px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}
.conteinerForm .input {
  max-width: 672px;
  width: 100%;
  outline: none;
  background: #131313;
  border: transparent;
  border-bottom: 1px solid #ffffff;
  margin-top: 25px;
  padding: 25px 0;
  font-family: 'Lato', sans-serif;
  color: #FFFFFF;
  font-size: 18px;
}

.conteinerForm .input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
}
.conteinerForm .input::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
}
.conteinerForm .input:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
}
.conteinerForm .nput:-moz-placeholder { /* Firefox 18- */
  color: #ffffff;
}
.submitBtn {
  background: #FFFFFF;
  width: 100%;
  height: 58px;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  letter-spacing: 0.01em;
  color: #000000;
  font-weight: bold;
}
.conteinerForm textarea {
  resize: none;
  width: 100%;
  margin: 25px 0;
  height: 155px;
  font-size: 18px;
  border: transparent;
  background: #131313;
  border-bottom: 1px solid #ffffff;
  padding: 10px 0;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
}
.conteinerForm textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
}
.localiztion  {
  width: 45%;
}
.localiztionIcons img {
  width: 31px;
  height: 40px;
}
.timeIcons {
  width: 50px;
  height: 40px;
}
.localiztion {
  display: flex;
}
.contLocalization {
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
}
.localiztionInfo {
  padding-left: 26px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500; 
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}
.conteinerMap {
  max-width: 38%;
  width: 100%;
  margin-right: 10%;
}
.conteinerMap iframe {
  height: 551px;
}
.ril-image-current.ril__image {
  width: auto;
}
