@media only screen and (max-width: 1400px) {
    .mainPageTitle {
        font-size: 111px;
    }
    .mainPageSubTitle {
        font-size: 50px;
    }
    .slydeSubTitle {
        font-size: 18px;
    }
    .firstFoto {
        max-width: 52%;
    }
    .textConteiner {
        max-width: 55%;
    }
    .secondFoto {
        height: 500px;
    }
    .SlydeTitle {
    font-size: 24px;
    }
    .projectCont  {
        height: 551px;
    }
    .conteinerClients::before{
        font-size: 80px;
    }
    .conteinerClients::after {
        font-size: 350px;
        right: -109px;
        z-index: -1;
    }
}